.dr-widget-video-player,
.dr-widget-video-playlist {
	
	&.error, .video.error {
		padding:20px;
		background-color: #808080;
		color:#FFF;

		p {
			margin: 10px 0px;
			color:#FFF;
		}

		pre {
			padding:20px;
			margin: 0px -20px;
			font-family: "Courier New", Courier, monospace;
			font-size: 12px;
			background-color: #404040;
			color: #808080;
			overflow: auto;
		}
	}

	video {
		width: 100%;
		height: 100%;
	}

	.image-wrap {

		padding-right: 0px;
		width: 100%;
		position: relative;


		img {
			margin-bottom: 0px !important;
		}

		.icon-wrap {

			position:absolute;
			top: 50%;
			left: 50%;

			.dr-icon-play-inverted {

				&:before {
					font-size: 40px !important;
					line-height: 1em !important;
					background-color: rgba(0, 0, 0, 0.5);
				}

				position: relative;
				left:-20px;
				top:-20px;
			}
		}
	}

	.accessability-controls {
		position: absolute;
		left: -9999px;
	}

}