.dr-widget-video-player,
.dr-widget-video-playlist {
	
	&.error, .video.error {
		
		background-color: #000;

		.floater {
			float: left;
			height: 50%;
			width: 100%;
			margin-bottom: -100px;
		}
		
		.wrapper {
			margin: 0 10%;
			background-color: #fff;
			border: 4px solid #808080;
			padding: 9px 10px;
			clear: both;

			.gfx {
				width: 36px;
				height: 32px;
				float: left;
				margin-right: 16px;

				&:before {
					font-size: 32px;
					line-height: 32px;
					color: #808080;
				}
			}
			a:link {
				text-decoration: underline;
			}
			pre {
				overflow: auto;
				max-height: 70px;
				padding-top: 10px;
				font-size: 11px;
				color: #999;
			}
		}
	}

	video {
		width: 100%;
		height: 100%;
	}

	.image-wrap {

		padding-right: 0px;
		margin-bottom: 0px;
		width: 100%;
		position: relative;


		img {
			margin-bottom: 0px !important;
		}

		.icon-wrap {

			position:absolute;
			top: 50%;
			left: 50%;
			z-index: 2;

			.dr-icon-play-inverted-large {

				position: relative;
				left:-16px;
				top:-16px;
			}
		}

		.dummy-controls {
			clear: both;
			background-color: #1a1a1a;
			border: 1px solid #353535;
			
			.play {

				height: 30px;

				&:before {
					color: #FFF;
					font-size: 30px;
				    line-height: 30px;
				    width: 51px;
				    text-align: center;
				    border-right: 1px solid #353535;
				    border-radius: 0;
				}
			}
		}
	}

	.image-wrap:hover {
		text-decoration: none;
	}

	.accessability-controls {
		position: absolute;
		left: -9999px;
	}

}

.dr-widget-video-playlist {
	background: #000;
    padding: 30px 20px 20px; 
    overflow: hidden;
    position: relative; 

	a.selected article img {
		outline: 3px solid red;
	}

    > h2 {
        border: none;
        background: white;
        position: absolute;
        top: 0; 
		left: 20px;
        font-size: 12px;
        line-height: 1.2;
        padding: 0 10px 5px 10px;
    }

	// the video view
	.video-article {
		margin-top: 10px;
		padding: 0;
		background: #fff;

		.description {
			padding: 10px;
		}
	}

	// the playlist
	li {
		float: left;
		margin-bottom: 10px;

		h3 {
			color: #fff;
		}
	}

	.metainfo {
		margin-top: 4px;
	}

	.dr-link-readmore {
		position: absolute;
		top: 10px;
		right: 20px;
		line-height: 100%;
	}
}