.dr-widget-carousel {

	position: relative;
	padding: 0 10px;

	h2 {
		position: absolute;
		left: -9999px;
	}

	button {
		position: absolute;
		top: 0; 
		bottom: 0; 
		z-index: 1;
		width: 30px;
		border: 0;
		background-color: #e6e6e6;
		color: transparent;

		&.next { 
			right: 10px; 
		}
		
		&.previous { 
			left: 10px;
		}
		
		&:disabled { 
			color: #fff;
		}
	}

    .content {
        overflow: hidden;
    }

    &.animating {
        &.direction-forward .transition,
        &.direction-backward .transition {
            position: absolute;
            width: 33.3%;
        }
        &.direction-forward .transition {
            margin-left: -33.3%;
        }
        &.direction-backward .transition {
            margin-left: 33.3%;
        }
    }

    .stories {
        position: relative;
        width: 100%;
        padding: 0 100%;
		margin-left: -100%;
    }

    ul {
        overflow: hidden;

        /* before we group them in pages */
        > li {
            display: inline-block;
            float: left;
            width: 33%; height: 48px;
        }

    }

}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .dr-widget-carousel {
        ul > li {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .dr-widget-carousel {
        ul > li {
            width: 100%;
        }
    }
}