.dr-widget-video-player,
.dr-widget-video-playlist {
	
	&.error, .video.error {
		padding:20px;
		background-color: #808080;
		color:#FFF;

		p {
			margin: 10px 0px;
			color:#FFF;
		}

		pre {
			padding:20px;
			margin: 0px -20px;
			font-family: "Courier New", Courier, monospace;
			font-size: 12px;
			background-color: #404040;
			color: #808080;
			overflow: auto;
		}
	}

	video {
		width: 100%;
		height: 100%;
	}

	.image-wrap {

		padding-right: 0px;
		width: 100%;
		position: relative;


		img {
			margin-bottom: 0px !important;
		}

		.icon-wrap {

			position:absolute;
			top: 50%;
			left: 50%;
			z-index: 2;

			.dr-icon-play-inverted-large {

				position: relative;
				left:-16px;
				top:-16px;
			}
		}
	}

	.accessability-controls {
		position: absolute;
		left: -9999px;
	}

}

.dr-widget-video-playlist {
	background: #000;
    padding: 30px 20px 20px; 
    overflow: hidden;
    position: relative; 

	a.selected article img {
		outline: 3px solid red;
	}

    > h2 {
        border: none;
        background: white;
        position: absolute;
        top: 0; 
		left: 20px;
        font-size: 12px;
        line-height: 1.2;
        padding: 0 10px 5px 10px;
    }

	// the video view
	.video-article {
		margin-top: 10px;
		padding: 0;
		background: #fff;

		.description {
			padding: 10px;
		}
	}

	// the playlist
	li {
		float: left;
		margin-bottom: 10px;

		h3 {
			color: #fff;
		}
	}

	.metainfo {
		margin-top: 4px;
	}

	.dr-link-readmore {
		position: absolute;
		top: 10px;
		right: 20px;
		line-height: 100%;
	}
}