.dr-widget-1212 {
	padding:20px;
	margin-bottom:20px;
	background-color:#fff;
	h2 {
		border-bottom: 1px solid #000;
		margin-bottom:10px;
		.logo {}
	}
	.content-wrapper {
		.checkbox {
			padding-left:30px;
			margin-left:10px;
			display:inline-block;
			background:transparent url(/assets/img/checkbox.gif) 0 0 no-repeat;
			font-weight:bold;
			line-height:24px;

		}
		.disclaimer-check .checkbox {
			background-position:0 -100px;
		}

		.files {
			padding:10px;
			h4 {
			
			}
			.file {
				position:relative;
				background-color:#cdcdcd;
				border-bottom:1px solid #333;
				margin-bottom:10px;
				padding:10px;
				.progressbar_container {
					height:4px;
					overflow:hidden;
					background-color:#fff;
					margin:4px 0;
					.progressbar {
						background-color:#333;
					}
				}
				.remove {
					position:absolute;
					top:10px;right:10px;
					width:20px;height:18px;
					background: transparent url(/assets/img/widgets/1212/btn_remove.gif) 0 0 no-repeat;
					span {display:none}
				}
				em {
					position:absolute;
					top:10px;right:50px;		
				}
			}
			.billeder {
			
			}
		
		}

	}
	.buttons-wrapper {

		width:100%;
		position:relative;

		a {
			margin-left:20px;
			float:right;
			.font-sans-serif();
			background-color:#7f7f7f;
			color:#fff;
			-moz-border-radius: 2px;
			border-radius: 2px;
			display:inline-block;
			font-size:14px;
			line-height:30px;
			text-transform:uppercase;
			padding:0 10px;
			cursor:pointer;
			text-decoration:none;
			span {
				font-size:14px;
				line-height:30px;
			}
		}
		a.disabled {background-color:#bcbcbc;color:#eaeaea}
		a:hover {background-color:#3f3f3f}
		a.disabled:hover {background-color:#bcbcbc;color:#eaeaea}
		.computer {}
		.upload-swiff {
			float:right;
			display:inline-block;
			margin-left:20px;
			background:transparent url(/assets/img/widgets/1212/bg_chose.gif) 0 0 no-repeat;
			width:120px;
			height:30px;
			-moz-border-radius: 2px;
			border-radius: 2px;
		}
		.upload {

		}
		.info {position:absolute;left:0;maargin-left:0}
		.annuller {}
	}

}



