[class*=dr-widget-carousel] {

	position: relative;
	overflow: hidden;
	padding: 0 10px;

	h2 {
		position: absolute;
		left: -9999px;
	}

	button {
		position: absolute;
		top: 0; 
		bottom: 0; 
		z-index: 1;
		width: 30px;
		border: 0;
		background-color: #e6e6e6;
		color: transparent;
		cursor: pointer;

		&.next { 
			right: 10px; 
		}
		
		&.previous { 
			left: 10px;
		}

		&.disabled {
			cursor: default;
		}
		
	}

	[class*=dr-icon-arrow-left]:before,
	[class*=dr-icon-arrow-right]:before {
		font-size: 36px;
		line-height: 100%;
		margin-top: 10px;
		text-indent: -5px;
	}

	[class*="dr-icon"][class*="disabled"]:before { 
		color: #fff;
	}

    &.animating {
        &.direction-forward .transition,
        &.direction-backward .transition {
            position: absolute;
            width: 33.3%;
        }
        &.direction-forward .transition {
            margin-left: -33.3%;
        }
        &.direction-backward .transition {
            margin-left: 33.3%;
        }
    }

	.content {
		overflow: hidden;
	}
    
	.stories {
        position: relative;
        width: 100%;
        padding: 0 100%;
		margin-left: -100%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 800px) {
    .dr-widget-carousel {
        > article {
            width: 50%;
        }
    }
}

@media only screen and (max-width: 480px) {
    .dr-widget-carousel {
        > article {
            width: 100%;
        }
    }
}

.dr-widget-carousel-teaser-small {

	height: 65px;

	> h2 {
		position: absolute;
		left: -9999px;
	}

	.content {
		padding: 0 50px;
	}

	article {
		float: left;
		width: 33.333333333333%;
		padding: 10px 0 0;
		border: none;

		> h3 {
			margin: 0;
		}
	}

}

/*
.dr-widget-carousel-slideshow {}
.teaser-small {
	display: inline-block;
	float: left;
	width: 33%;
	height: 548px;
}
*/