label,
input[type=radio],
input[type=submit],
input[type=checkbox] {
	cursor: pointer;
}


.dr-widget-quickvote {

	h1 a,
	h3 a {
		font: normal 18px/1 "gibsonSemiBold", "Arial Black", sans-serif;
		text-transform: uppercase;
	}

	.dr-icon-help-boxed {
		white-space: nowrap;
		width: 16px;
		line-height: 16px; 
		overflow: hidden;
		float: right;
		text-decoration: none;
		
		&:before {
			vertical-align: top;
		}
	}

	h1 span,
	h3 span {
		font: normal 14px/1 "gibsonRegular", "Verdana", sans-serif;
		text-transform: uppercase;
		display: block;
	}

	li label {
		display: inline-block;
		padding: 5px 3px;
		line-height: 20px;
		font-size: 14px;
        font-family: "gibsonSemiBold", "Arial Black", sans-serif;
	}

	> fieldset {
		display: block;
	}

	> div {
		text-align: right;
		display: none;

		li {
			padding-top: 10px;

			span {
				font: normal 14px/1 "gibsonSemiBold", "Arial Black", sans-serif;
				float: left;

				&.percentage {
					font-family: "gibsonRegular", "Arial", sans-serif;
					float: none;
				}
			}

			div {
				height: 11px;
				background-color: #bfbfbf;
				background-color: rgba(0, 0, 0, 0.25);

				> div {
					background-color: #7f7f7f;
					background-color: rgba(255, 255, 255, 0.5);
				}
			}
		}
	}

	&.show-results {
		> fieldset {
			display: none;
		}

		> div {
			display: block;
		}
	}

	> fieldset > p,
	> div > p {
		text-align: right;
		
		a {
			color: #777;
			font: normal 14px/25px "gibsonRegular", "Verdana", sans-serif;
			text-transform: uppercase;
			text-decoration: underline;
		}

		input[type=submit] {
			margin-left: 10px;
		}
	}
}