.dr-widget-audio-player {

    position: relative;
    background-color: @grey-10;
    height: 30px;
    border: 1px solid @grey-30;

    a {
        display: inline-block;
        width: 50px;
        height: 30px;
        overflow: hidden;
        border-right: 1px solid @grey-30;
    }
    a:before {
        color: #fff;
        text-indent: 8px;
    }

    .progressbar {
        background-color: @grey-50;
        position: absolute;
        top: 10px;
        left: 60px;
        right: 130px;
        height: 10px;
        margin: 0;
        padding: 0;

        .meter {
            background-color: cyan;
            height: 100%;
        }

        .text {
            span:first-child {
                display: none;
            }

            span:last-child {
                position: absolute;
                top: -6px;
                right: -50px;
                color: @grey-60;
                width: 44px;
                height: 30px;
                text-align: center;
                display: inline-block;
            }
        }
    }


    .volume-selector {
        width: 71px;
        position: absolute;
        right: 0;
        top: 0;
        height: 30px;
        border-left: 1px solid @grey-30;

        label {
            display: inline-block;
            width: 3px;
            height: 16px;
            margin: 7px 0px;
            border-left: 2px solid @grey-10;
            border-right: 2px solid @grey-10;
            background-color: @grey-80;
        }

        input {
            position: absolute;
            left: -9999px;
        }

        input:checked ~ label {
            background-color: @grey-40;
        }

        [class*=dr-icon] {
            width: 12px;
            overflow: hidden;
            margin: 3px 5px 0 9px;
            background-color: @grey-10;
            float: left;
            height: 24px;
            border: none;
        }
        [class*=dr-icon]:before {
            color: #fff;
        }
        &.muted [class*=dr-icon]:before {
            color: @grey-40;
        }
    }
}
