.dr-widget-audio-player {

    position: relative;
    height: 30px;
    background-color: @grey-10;
    border: 1px solid @grey-30;

    a {
        display: inline-block;
        width: 50px;
        height: 30px;
        overflow: hidden;
        border-right: 1px solid @grey-30;
    }
    a:before {
        color: #fff;
        text-indent: 8px;
    }

    audio {
        position: absolute;
    }

    &.loading {

        //TODO: Add a fancy loading indicator
        background: #EEEEEE url(/assets/img/loading.gif) center no-repeat;
        border: 1px solid #EEEEEE;

        .progressbar, .volume-selector, a {
            display: none;
        }
    }

    .progressbar {
        position: absolute;
        top: 10px;
        right: 155px;
        left: 60px;
        height: 10px;
        padding: 0;
        margin: 0;
        background-color: @grey-50;

        .meter {
            height: 100%;
            width: 0%;
            background-color: cyan;
        }

        .text {
            span:first-child {
                position: absolute;
                bottom: 20px;
                left: -35px;
                display: none;
                width: 70px;
                padding: 5px;
                text-align: center;
                background-color: #FFF;
                border-radius: 2px;
                box-shadow: 0 5px 10px #000;

                &:after {
                    position: absolute;
                    bottom: -20px;
                    left: 30px;
                    width: 0;
                    height: 0;
                    border: 10px solid #000;
                    border-color: #FFF rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
                    content: "";
                }
            }

            span:last-child {
                position: absolute;
                top: -6px;
                right: -50px;
                display: inline-block;
                width: 44px;
                height: 30px;
                color: @grey-60;
                text-align: center;
            }
        }

        &:last-child {
            right: 80px;
        }
    }


    .volume-selector {
        position: absolute;
        top: 0;
        right: 0;
        width: 71px;
        height: 30px;
        border-left: 1px solid @grey-30;

        label {
            display: inline-block;
            width: 3px;
            height: 16px;
            margin: 7px 0;
            background-color: @grey-80;
            border-right: 2px solid @grey-10;
            border-left: 2px solid @grey-10;
        }

        input {
            position: absolute;
            left: -9999px;
        }

        input:checked ~ label {
            background-color: @grey-40;
        }

        [class*=dr-icon] {
            float: left;
            width: 12px;
            height: 24px;
            margin: 3px 5px 0 9px;
            overflow: hidden;
            background-color: @grey-10;
            border: none;
        }
        [class*=dr-icon]:before {
            color: #fff;
        }
        &.muted [class*=dr-icon]:before {
            color: @grey-40;
        }
    }
}
